In [20]:
# 1. pyodc
import pandas as pd

In [5]:
pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Collecting pyodbc
  Downloading pyodbc-5.2.0-cp313-cp313-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.2.0-cp313-cp313-win_amd64.whl (69 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pyodbc

In [7]:
print(pyodbc.drivers())

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server', 'ODBC Driver 18 for SQL Server']

driver_name = 'sql server'


server_name = 'localhost\SQLEXPress'


database_name = 'Records'

In [17]:
con_string = pyodbc.connect('Driver={SQL Server};'
                            'Server=DESKTOP-0GD427P\\SQLEXPRESS01;'
                            'Database=Records;'
                            'Trusted_Connection=yes;'
                           )

In [18]:
con_string

In [35]:
df = pd.read_sql("SELECT * FROM ;", con_string)

C:\Users\Dell\AppData\Local\Temp\ipykernel_16800\1254809011.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM Records;", con_string)

DatabaseError: Execution failed on sql 'SELECT * FROM Records;': ('42S02', "[42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid object name 'Records'. (208) (SQLExecDirectW)")

In [32]:
df.head()

Empty DataFrame
Columns: [TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME, TABLE_TYPE]
Index: []